


    @model IEnumerable<Blog.Models.Article>

    {
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



        <table id="table-1">

            <tr>
                <th>
                    @Html.ActionLink("生活", "IndexByCategory", "Articles1", new { Category = "生活" }, new { target = "_self" })
                </th>
                <th>
                    @Html.ActionLink("政治", "IndexByCategory", "Articles1", new { Category = "政治" }, new { target = "_self" })
                </th>
                <th>
                    @Html.ActionLink("教育", "IndexByCategory", "Articles1", new { Category = "教育" }, new { target = "_self" })
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Article_title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article_text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visit_quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Release_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserInfo.User_name)
                </th>
                <th></th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Visit_quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Release_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInfo.User_name)
                    </td>

                </tr>
            }


        </table>

}




