
@model Blog.Models.message

    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Details</h2>

    <div>
        <h4>message</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.message_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.message_time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserInfo.User_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserInfo.User_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserInfo1.User_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserInfo1.User_name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.message_id }) |
        @Html.ActionLink("Back to List", "Index","messages1")
    </p>
