



@model Blog.Models.comment

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>确定删除评论吗？</h3>
    <div>
        <h4>删除评论</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Article_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Article_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.likes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.likes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comment1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comment1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.reward)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reward)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comment_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comment_time)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("返回", "Index")
            </div>
        }
    </div>
</body>
</html>
