

@model Blog.Models.Private_letter

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Private_letter</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.sent_time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sent_time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserInfo.User_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserInfo.User_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserInfo1.User_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserInfo1.User_name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.letter_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>

