
@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit_quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInfo.User_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.User_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Article_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Article_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Article_id })
            </td>
        </tr>
    }

</table>
